@model IEnumerable<TestMarzan.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script></script>

<h1>Customer List</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create Customer</a>
</p>
@if (Model.Count() == 0)
{
    <h2>There is no customers created</h2>
}
else
{
    <form asp-action="Index" method="get">
        <p>
            Search: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-outline-secondary" />
        </p>

    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Full Name
                </th>
                <th>
                    Id Number
                </th>
                <th>
                    Birth Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
